    /* ==UserStyle==
@name           YouTube - DeArrow Native
@namespace      github.com/openstyles/stylus
@updateURL      https://raw.githack.com/virginviolet/DeArrow-Native/main/dearrow-native.user.css
@version        1.0.0
@description    Make DeArrow fit YouTube's design better.
@author         Violet
==/UserStyle== */
    @-moz-document domain("youtube.com") {
        #cbSubmitMenu:has(.casualVoteMenuInner) {
            /* Casual mode vote popup window */
            --yt-spec-text-primary: unset !important;
            color: var(--yt-spec-text-primary) !important;
            box-shadow: 0 0 24px 12px var(--paper-dialog-shadow-color, rgba(0, 0, 0, .15));
            font-family: "Roboto", "Noto", sans-serif;
            line-height: 20px;
            background-color: var(--paper-dialog-background-color, var(--primary-background-color)) !important;
            backdrop-filter: unset !important;
            border-radius: 12px;
            width: unset !important;
            min-width: var(--ytd-watch-flexy-sidebar-min-width);
        }

        #cbSubmitMenu>.casualVoteMenuInner {
            --cb-forground-button-color: var(--yt-spec-themed-green) !important;
            padding: 0px !important;
        }

        /* Casual mode popup - header*/
        #cbSubmitMenu>.casualVoteMenuInner>.cbCasualVoteTitle {
            padding: 24px 24px 0;
            font-size: 3.2rem !important;
            font-family: "YouTube Sans", "YT SANS";
            font-weight: var(--yt-formatted-string-bold-font-weight, 500);
            justify-content: space-around !important;
        }

        /* Casual mode popup - header icon */
        #cbSubmitMenu>.casualVoteMenuInner>.cbCasualVoteTitle>img.cbCasualVoteTitleLogo {
            height: 37px !important;
            padding: 0px !important;
        }

        /* Add empty space after the title (for space-around alignment) */
        #cbSubmitMenu>.casualVoteMenuInner>.cbCasualVoteTitle:after {
            content: "";
        }

        /* Casual mode popup - original title */
        #cbSubmitMenu>.casualVoteMenuInner>.cbCasualVoteOriginalTitle {
            /* font-size: 2rem;
            line-height: 2.8rem;
            font-weight: 700; */
            padding: 16px 24px 24px;
            font-size: 1.4rem !important;
        }

        /* Casual mode popup - check boxes (radio and square) */
        #cbSubmitMenu>.casualVoteMenuInner [type=checkbox] {
            width: 20px;
            height: 20px;
        }

        /* Casual mode popup - Radio buttons */
        span#cbSubmitMenu>div.casualVoteMenuInner>div.cbCasualYesOrNo>.cbChecklistBox>.cbChecklistCheckboxParent {
            display: flex !important;
            border: 1px solid var(--paper-checkbox-unchecked-color, var(--primary-text-color)) !important;
            border-radius: 50%;
        }

        span#cbSubmitMenu>div.casualVoteMenuInner>.cbCasualYesOrNo>.cbChecklistBox>.cbChecklistCheckboxParent input {
            border: none !important;
        }

        span#cbSubmitMenu>div.casualVoteMenuInner>.cbCasualYesOrNo>div.cbChecklistBox>div.cbChecklistCheckboxParent>label {
            width: 20px;
            height: 20px;
            z-index: -1;
        }

        /* Hide border when radio button checked */
        span#cbSubmitMenu>div.casualVoteMenuInner>.cbCasualYesOrNo>.cbChecklistBox>.cbChecklistCheckboxParent:has(input:checked) {
            border: 1px solid transparent !important;
        }

        /* Casual mode popup - radio button text ("Yes" / "No") */
        #cbSubmitMenu>.casualVoteMenuInner>.cbCasualYesOrNo>.cbChecklistBox>.cbChecklistTextBox>div.cbChecklistBoxTitle {
            font-weight: 500;
        }

        /* Casual mode popup - Square checkboxes */
        #cbSubmitMenu>.casualVoteMenuInner>div>div>.cbChecklistBox.cbSquare input {
            border: 2px solid var(--paper-checkbox-unchecked-color, var(--primary-text-color)) !important;
            border-radius: 2px !important;
        }

        #cbSubmitMenu>.casualVoteMenuInner>div>div>.cbChecklistBox.cbNoAnim input:checked {
            border: 0px !important;
        }

        /* Casual mode popup - Square checkbox text */
        span#cbSubmitMenu>div.casualVoteMenuInner>div>div div.cbChecklistBox.cbSquare>div.cbChecklistTextBox div.cbChecklistBoxTitle {
            font-weight: 500;
        }

        span#cbSubmitMenu>div.casualVoteMenuInner>div>div div.cbChecklistBox.cbSquare>div.cbChecklistCheckboxParent>svg {
            margin-top: -1px !important;
            width: 12px;
            height: 12px;
        }

        /* Casual mode popup - vote count text */
        span#cbSubmitMenu>div.casualVoteMenuInner>div>div>div.cbChecklistBox.cbSquare.cbNoAnim>div.cbChecklistTextBox>div.cbChecklistBoxSubtitle {
            color: var(--yt-spec-text-secondary);
            padding-top: 0px;
        }

        /* Casual mode popup - "Submit" button */
        #cbSubmitMenu>.casualVoteMenuInner>.cbVoteButtonContainer>.cbNoticeButton:disabled {
            color: var(--yt-spec-icon-disabled);
            background-color: var(--yt-spec-additive-background) !important;
        }

        #cbSubmitMenu>.casualVoteMenuInner>.cbVoteButtonContainer>.cbNoticeButton {
            /* background-color: var(--yt-spec-inverted-background);
            background-color: var(--yt-spec-discover-green);*/
            font-size: 14px;
        }

        /* Casual mode popup - Add an overlay behind the window and the vote button that opens it */
        #content:has(#cbSubmitMenu > .casualVoteMenuInner):after {
            content: '' !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            background: rgba(0, 0, 0, 0.5) !important;
            z-index: 8999;
        }

        /* Add a background to the casual mode vote button so that it can poke out from the overlay */
        #title.style-scope.ytd-watch-metadata>div>button.cbCasualVoteButton {
            position: relative;
        }

        #title.style-scope.ytd-watch-metadata:has(#cbSubmitMenu > .casualVoteMenuInner)>div>button.cbCasualVoteButton:before {
            content: "";
            background: var(--paper-dialog-background-color, var(--primary-background-color));
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            aspect-ratio: 1 / 1;
            width: calc(100% + 0.3em);
            z-index: -1;
        }

        #title.style-scope.ytd-watch-metadata:has(#cbSubmitMenu > .casualVoteMenuInner)>div.cbTitleButtonContainer>.cbCasualVoteButton {
            z-index: 9000 !important;
        }
    }